aiohappyeyeballs==2.4.3
aiohttp==3.11.11
aiosignal==1.3.1
alluka==0.3.3
altgraph==0.17.4
annotated-types==0.7.0
anyio==4.6.2.post1
async-timeout==3.0.1
asyncio==3.4.3
attrs==24.2.0
basemap==1.4.1
basemap-data==1.3.2
basemap-data-hires==1.3.2
bcrypt==4.2.0
beautifulsoup4==4.12.3
blinker==1.9.0
branca==0.8.1
Cartopy==0.24.1
certifi==2024.8.30
chardet==4.0.0
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
colorlog==6.9.0
contourpy==1.3.1
customtkinter==5.2.2
cycler==0.12.1
darkdetect==0.8.0
DateTime==5.5
defusedxml==0.7.1
discord-typings==0.9.0
discord.py==1.7.3
dnspython==2.7.0
email_validator==2.2.0
fastapi==0.115.5
Flask==3.0.3
Flask-Cors==5.0.0
folium==0.19.4
fonttools==4.54.1
fpdf2==2.8.1
frozenlist==1.4.1
geographiclib==2.0
geopy==2.4.1
hikari==2.1.0
hikari-miru==4.2.0
idna==3.10
imageio==2.37.0
itsdangerous==2.2.0
Jinja2==3.1.4
kiwisolver==1.4.7
lazy_loader==0.4
lxml==5.3.0
MarkupSafe==3.0.2
matplotlib==3.8.4
motor==3.6.0
MouseInfo==0.1.3
multidict==6.1.0
networkx==3.4.2
nextcord==2.6.0
numpy==1.26.4
opencv-python==4.10.0.84
opencv-python-headless==4.10.0.84
packaging==23.2
pandas==2.2.3
pefile==2023.2.7
pillow==10.4.0
propcache==0.2.0
psutil==6.0.0
PyAudio==0.2.14
PyAutoGUI==0.9.54
pycryptodome==3.21.0
pydantic==2.9.2
pydantic_core==2.23.4
pydub==0.25.1
PyGetWindow==0.0.9
pyinstaller==6.11.1
pyinstaller-hooks-contrib==2024.10
pymongo==3.12.1
PyMsgBox==1.0.9
pyparsing==3.2.0
pyperclip==1.9.0
pyproj==3.6.1
PyRect==0.2.0
PyScreeze==1.0.1
pyshp==2.3.1
PySSTV==0.5.7
python-dateutil==2.9.0.post0
python-dotenv==0.19.2
python-pptx==1.0.2
pytweening==1.2.0
pytz==2024.2
pywin32-ctypes==0.2.3
PyYAML==6.0.2
requests==2.32.3
scikit-image==0.25.0
scipy==1.14.1
shapely==2.0.6
simpleaudio==1.0.4
six==1.17.0
sniffio==1.3.1
soupsieve==2.6
starlette==0.41.2
tifffile==2025.1.10
trimesh==4.6.0
typing_extensions==4.12.2
tzdata==2025.1
urllib3==2.2.3
Werkzeug==3.1.3
XlsxWriter==3.2.0
xyzservices==2025.1.0
yarl==1.17.1
zope.interface==7.1.1
